<% provide(:title, 'Outcoming Transport') %>
<h1>Create new line of outcoming transport </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@transportout) do |f| %>
  
        <%= f.label :mark %>
        <%= f.text_field :mark, class: 'form-control' %>
  
  
        <%= f.label :gozznak %>
        <%= f.text_field :gozznak, class: 'form-control' %>
  
  
        <%= f.submit "Create new line", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>>
